<style>
    h1 {
        text-align: center
    }
    select {
        text-align-last:right;
        padding-right: 29px;
        direction: rtl;
    }
    input, textarea {
        background-color: lightgrey;
        color: black;
    }
    .form-group {
        -webkit-border-radius: 40px;
           -moz-border-radius: 40px;
                border-radius: 40px;
    }
    #button-area:hover{
        background-color: blue;
        color: cornsilk;
        cursor: pointer;
    }
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>